extends ../layout

block content
    h1.
        Infouser #{user._id}
    p Username: #{user.username}
    p Phone Number: #{user.phoneNumber}
    p Password: #{user.password}
    p Timestamp: #{user.timestamp}
